// 样式初始化
@import 'normalize.css';

/*:root -> 获取根元素html*/
// 使用 color: var(--color-tint)
:root {
  --html-bg-color: #444444;
  --color-text: #409EFF;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-white: #ffffff;
  --font-size: 14px;
  --line-height: 1.5;
  --main-bg-color: #191a20;
  --menu-bg-color: #000000; // #090a0c
  --menu-item-bg-color: #1a3642;
  --menu-item-active-bg-color: #0a0a0a; // #2e2f33
  --menu-item-check-color: #009688;
  --contextmenu-bg-color: #eeeeee;
}

body,
ul,
ol,
dl,
li,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "Microsoft YaHei";
}

img {
  border: none;
}

input,
button,
textarea,
select {
  font-size: 100%;
  border: none;
}

html, body {
  height: 100%;
  background: var(--el-bg-color);
  // color: var(--html-bg-color);
  font: 14px/24px Microsoft YaHei, SimSun, Arial;
  overflow-x: hidden;
  // user-select: none;
  cursor: url('../assets/svg/cursor.png'),auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*默认a标签样式*/
a {
  color: var(--color-text);
  text-decoration: none;
}

/*浮动和清除浮动*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  zoom: 1
}

.clear:after {
  content: "";
  display: block;
  height: 0;
  visibility: visible;
  clear: both;
}

/*显示隐藏*/
.hide {
  display: none;
}

.show {
  display: block;
}

/* nprogress 进度条 */
#nprogress {
  .bar {
    z-index: 2003 !important;
    background: var(--el-color-primary) !important;
  }
  .spinner {
    z-index: 2003 !important;
  }
  .spinner-icon {
    border-top-color: var(--el-color-primary) !important;
    border-left-color: var(--el-color-primary) !important;
  }
  .peg {
    box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary) !important;
  }
}