// 限制文字选中状态
.user-sel {
  -moz-user-select: none; // 火狐
  -webkit-user-select: none; // webkit浏览器
  -ms-user-select: none; // IE10
  -khtml-user-select: none; // 早期浏览器
  user-select: none;
}

// Wangeditor 样式
.w-e-full-screen-container {
  z-index: 2003 !important;
}

// 自定义card样式
.over-card {
  box-sizing: border-box !important;
  padding: 20px !important;
  overflow-x: hidden !important;
  background-color: var(--el-bg-color);
  border: 1px solid var(--el-border-color-light) !important;
  border-radius: 4px !important;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05) !important;
}

// * card 卡片样式
.el-card {
  flex: 1 !important;
  background-color: var(--el-bg-color) !important;
}

// 按钮flex样式
.flex-right {
  display: flex !important;
  justify-content: flex-end !important;
}

// 配置按钮样式
.config-btn {
  margin-bottom: 10px !important;
  margin-left: 10px !important;
  cursor: pointer !important;
}

// 超出省略号
.text-ellipsis {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow:ellipsis;
}

.table-main {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	height: 100%;

  .table-search {
    // padding: 15px 0 0;
    margin-bottom: 10px;
    .el-form {
      .el-form-item {
        width: 100%;
      }
      .el-form-item__content > * {
        width: 100%;
      }

      // 去除时间选择器上下 padding
      .el-range-editor.el-input__wrapper {
        padding: 0 10px;
      }
    }
    .search-operation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .table-header {
    .header-button-lf {
      float: left;
    }
    .header-button-ri {
      float: right;
    }
    .el-button {
      margin: 0 12px 12px 0 !important;
    }
  }
  // 表格 分页 pagination 样式
  .el-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}

/* main-box (树形表格 treeFilter 页面会使用，左右布局 flex) */
.main-box {
  display: flex;
  width: 100%;
  height: 100%;
  .table-box {
    // 这里减去的是 treeFilter 组件宽度
    width: calc(100% - 230px);
  }
}

// 表格样式
.el-table {
  flex: 1;
  // 修复 safari 浏览器表格错位
  table {
    width: 100%;
  }
  .el-table__header th {
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--el-color-info-light-9);
    color: var(--el-text-color-primary);
  }
  .el-table__row {
    height: 45px;
    font-size: 14px;
    .move {
      cursor: move;
      .el-icon {
        cursor: move;
      }
    }
  }
  // 设置 el-table 中 header 文字不换行，并省略
  // .el-table__header .el-table__cell > .cell {
  //   white-space: nowrap;
  // }
  // 解决表格数据为空时样式不居中问题(仅在element-plus中)
  .el-table__empty-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .table-empty {
      line-height: 30px;
    }
  }
}

.el-table.is-scrolling-none th.el-table-fixed-column--left,
.el-table.is-scrolling-none th.el-table-fixed-column--right {
  background-color: var(--el-color-info-light-9);
}

.el-table.is-scrolling-left th.el-table-fixed-column--left,
.el-table.is-scrolling-left th.el-table-fixed-column--right {
  background-color: var(--el-color-info-light-9);
}

// protable 没数据处理
.pro_no_table {
  .el-table__inner-wrapper {
    height: 200px;
  }
}

// * el-loading-mask 样式
.el-loading-mask.is-fullscreen {
  z-index: 9999 !important;
}

// * el-loading-text 样式
.el-loading-spinner .el-loading-text {
  font-weight: 600;
}

// 侧边消息弹窗
.el-message,.el-notification {
  z-index: 3000 !important;
}
// * 设置 el-alert 边框
.el-alert {
	border: 1px solid;
}
// * 弹窗 样式
.el-dialog {
  padding: 0;
	.el-dialog__header {
		padding: 15px 20px;
		margin: 0;
		border-bottom: 1px solid var(--el-border-color-lighter);
		.el-dialog__title {
			font-size: 17px;
		}
	}
  .el-dialog__body,
  .el-dialog__footer {
    padding: 15px 20px;
  }
}
// * 抽屉 样式
.el-drawer {
	.el-drawer__header {
		padding: 16px 20px;
		margin-bottom: 0;
		border-bottom: 1px solid var(--el-border-color-lighter);
		span {
			font-size: 17px;
      line-height: 17px;
			color: var(--el-text-color-primary) !important;
		}
	}
	.el-drawer__footer {
		border-top: 1px solid var(--el-border-color-lighter);
	}

	// drawer select 样式
	.el-select {
		width: 100%;
	}

  // drawer-form 中存在两列 form-item 样式
  .drawer-multiColumn-form {
    display: flex;
    flex-wrap: wrap;
    .el-form-item {
      width: 47%;
      &:nth-child(2n-1) {
        margin-right: 5%;
      }
    }
  }
}

// * 开关 样式
.el-switch {
  --el-switch-on-color: var(--color-text);
  --el-switch-off-color: var(--el-border-color);
}

// * tabs 样式
.el-tabs {
  .el-tabs__nav-prev, .el-tabs__nav-next {
    color: #ffffff !important;
  }
}

// * el-link 样式
.el-link {
  margin-right: 12px;
}

.small-input-width {
  width: 150px !important;
}
.middle-input-width {
  width: 180px !important;
}
.large-input-width {
  width: 220px !important;
}
.date-picker-width {
  width: 230px !important;
}