/* 自定义 element 暗黑模式样式 */
html.dark {
	// * vite-admin
	--vite-tool-color: #ffffff;
	--vite-tool-bg-color: #409EFF;

  // * wangEditor
	--w-e-toolbar-color: #595959;
	--w-e-toolbar-bg-color: #eeeeee;
	--w-e-textarea-bg-color: #141414;
	--w-e-textarea-color: #eeeeee;
  
	// login
	.login-container {
		background-color: var(--el-fill-color-extra-light) !important;
		.login-box {
			background-color: var(--el-mask-color) !important;
			.login-form {
				background-color: var(--el-bg-color) !important;
				box-shadow: 5px 5px 15px rgb(161 161 161 / 20%) !important;
				.logo-text {
					color: var(--el-text-color-primary) !important;
				}
			}
		}
	}

	.navbar-side {
		.el-menu > .el-sub-menu.is-opened > .el-menu > .el-menu-item.is-active {
			background-color: var(--el-bg-color-page) !important;
		}
		.el-menu>.el-sub-menu.is-opened>.el-menu>.el-menu-item.is-active::before {
			background-color: var(--el-bg-color-page) !important;
		}
		.el-menu>.el-sub-menu.is-opened>.el-menu>.el-menu-item.is-active:hover {
			background-color: var(--el-bg-color-page) !important;
		}
		.eo {
			box-shadow: 0 0 6px -4px var(--color-text);
		}
		.el-menu--collapse>.el-sub-menu.is-active>.el-sub-menu__title {
			background-color: var(--menu-item-active-bg-color) !important;
		}
	}

	.navbar-top .tabs-wrap .el-tabs__item.is-active {
		color: var(--color-white) !important;	
	}

  .main-warp {
    background-color: transparent !important;
  }

	.contextmenu li:hover {
		background-color: var(--el-color-info-light-9) !important;
	}

	.el_toolbar {
		background-color: var(--vite-tool-bg-color);
		color: var(--vite-tool-color);
	}

	// scroll-bar
	::-webkit-scrollbar {
		background-color: var(--el-scrollbar-bg-color) !important;
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--el-border-color-darker) !important;
	}
}
