/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* fade-side */
.fade-side-leave-active,
.fade-side-enter-active {
  transition: all 0.3s;
}
.fade-side-enter-from {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-30px);
}
.fade-side-leave-to {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(30px);
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}
.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* fade-bottom */
.fade-bottom-enter-active,
.fade-bottom-leave-active {
  transition: opacity 0.25s, transform 0.3s;
}
.fade-bottom-enter-from {
  opacity: 0;
  transform: translateY(-10%);
}
.fade-bottom-leave-to {
  opacity: 0;
  transform: translateY(10%);
}

/* fade-scale */
.fade-scale-leave-active,
.fade-scale-enter-active {
  transition: all 0.28s;
}
.fade-scale-enter-from {
  opacity: 0;
  transform: scale(1.2);
}
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

/* zoom-fade */
.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition: transform 0.2s, opacity 0.3s ease-out;
}
.zoom-fade-enter-from {
  opacity: 0;
  transform: scale(0.92);
}
.zoom-fade-leave-to {
  opacity: 0;
  transform: scale(1.06);
}

/* zoom-out */
.zoom-out-enter-active,
.zoom-out-leave-active {
  transition: opacity 0.1s ease-in-out, transform 0.8s ease-out;
}
.zoom-out-enter-from,
.zoom-out-leave-to {
  opacity: 0;
  transform: scale(0);
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s, filter 0.2s ease-out;
}

.fade-enter-from {
  opacity: 0;
  filter: blur(10px);
}

.fade-leave-to {
  opacity: 0;
  filter: blur(0px);
}

/* cardInOut */
.cardInOut-enter-active {
  animation: swing-in-top-fwd 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes swing-in-top-fwd {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
.cardInOut-leave-active {
  animation: swing-out-top-bck 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

@keyframes swing-out-top-bck {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
  100% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }
}

/* fadeOut */
.fadeOut-enter-active {
  animation: fade-in 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut-leave-active {
  animation: fade-out 0.25s ease-out both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}